* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #e5eaf5;
  background-image: url("photos/newcity.jpg");
  background-attachment: fixed;
  opacity: 1;
  background-size: 1500px 1450px;
  background-repeat: no-repeat;
  color: white;
}

/*  header */
header {
  background: #000000;
  color: #fff;
  padding: 5px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
nav ul li a:hover {
  color: goldenrod;
}

/*  home section */
#home {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  padding: 5px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-family: Georgia;
}

.headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.linkedin-logo .github {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  display: inline-block;
  position: relative;
  transition: transform 0.3s;
}
form a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  display: inline-block;
  position: relative;
  transition: transform 0.3s;
}
form a:hover img {
  transform: scale(1.2);
}

ul,
ol {
  list-style-type: square;
  margin-left: 20px;
}

/*  other sections */
section {
  padding: 50px 0;
}

h2 {
  text-align: center;
}

#about p {
  text-align: center;
}

#skills h4 {
  margin-left: 220px;
  font-size: 40px;
  color: white;
  font-family: Georgia;
}
#skills p {
  text-align: center;
}
#skills i {
  margin-left: 250px;
}

footer {
  background: #000000;
  color: #fff;
  padding: 10px;
}
.btn {
  background-color: #000000;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
  font-size: 15px;
  font-family: Georgia;
}
#about,
#Hobbies {
  background-color: black;
}
#skills,
#projects {
  background-color: white;

  background-image: url("photos/city.jpg");
  background-attachment: fixed;
  opacity: 1;
  background-size: 1500px 1450px;
  background-repeat: no-repeat;
}
